# Database
DATABASE_URL="postgresql://username:password@localhost:5432/kathy_polensky_db?schema=public"

# Admin Authentication
ADMIN_PASSWORD="kathy-admin-2024"
ADMIN_TOKEN="kathy-admin-2024"

# Next.js
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Google Maps API
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSyDRCCnT3EZoE7tw8muJT-sqYiOBnQKKgh4"
